@import '../../resources/variables.scss';

.About {
  width: 100vw;

  .about-txt {
    margin-top: 3.576vw;
    color: $base-bck1;
    padding: 9.07vh 15.208vw;

    h2 {
      font-size: 2.125em;
      font-family: 'Rubik-Bold';
      margin-bottom: 7.2vh;

      @media (max-width: $xs-screen) {
        font-size: 4.604vw;
        line-height: 5.333vw;
        letter-spacing: 0.382vw;
        margin-bottom: 3.182vw;
        text-align: center;
      }
    }

    p {
      font-size: 1.25em;
      letter-spacing: 0.4px;
      line-height: 36px;

      @media (max-width: $xs-screen) {
        font-size: 2.563vw;
        line-height: 4.083vw;
      }
    }
  }
}